@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%; /* Light Grey */
    --foreground: 240 10% 4%; /* Dark Grey/Black */

    --card: 0 0% 100%; /* White */
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 263 52% 47%; /* Deep Purple: #673ab7 */
    --primary-foreground: 0 0% 98%;

    --secondary: 264 55% 72%; /* Lighter Purple: #968ce4 */
    --secondary-foreground: 240 10% 4%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 336 84% 81%; /* Pink: #f7b8d2 */
    --accent-foreground: 240 10% 4%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 263 52% 47%;

    --chart-1: 263 52% 47%;
    --chart-2: 264 55% 72%;
    --chart-3: 336 84% 81%;
    --chart-4: 240 10% 4%;
    --chart-5: 0 0% 98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 263 52% 57%;
    --primary-foreground: 0 0% 98%;

    --secondary: 264 55% 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 336 84% 71%;
    --accent-foreground: 240 10% 4%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 263 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
