@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco */
    --foreground: 0 0% 0%;   /* Negro */

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 28 100% 48%; /* #F77700 */
    --primary-foreground: 0 0% 100%;

    --secondary: 40 61% 73%; /* #E4C68C */
    --secondary-foreground: 0 0% 0%;

    --muted: 40 61% 95%; 
    --muted-foreground: 0 0% 30%;

    --accent: 35 84% 53%; /* #EE9621 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 80% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 61% 73%; /* Usamos el secundario como borde */
    --input: 0 0% 95%;
    --ring: 28 100% 48%; /* Resalta con el primario */

    --chart-1: 28 100% 48%;
    --chart-2: 35 84% 53%;
    --chart-3: 40 61% 73%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 28 100% 48%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 40 61% 40%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 35 84% 53%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 61% 40%;
    --input: 240 3.7% 15.9%;
    --ring: 28 100% 48%;

    --chart-1: 28 100% 48%;
    --chart-2: 35 84% 53%;
    --chart-3: 40 61% 73%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}